.no-margin {
  margin: 0 ;
  padding: 0;
}

.my-main {
  margin-top: $large-spacing;
  margin-left: $large-spacing;
  margin-right: $large-spacing;
  margin-bottom: $large-spacing;
}

.my-footer {
  margin-top: $large-spacing;
  margin-left: $large-spacing;
  margin-right: $large-spacing;
  margin-bottom: $large-spacing;
}


