.no-margin {
  margin: 0 ;
  padding: 0;
}

.float {
  float: left;
}

.starter-template {
  // padding: 3rem 1.5rem;
  text-align: center;
}

.my-main {
  margin-top: $large-spacing;
  margin-left: $large-spacing;
  margin-right: $large-spacing;
  margin-bottom: $large-spacing;
}

.my-footer {
  margin-top: $large-spacing;
  margin-left: $large-spacing;
  margin-right: $large-spacing;
  margin-bottom: $large-spacing;
}

/*
.fill-remaining-space {
  flex: 1 1 auto;
}
*/
