.mh-navigation > ul {
  list-style-type: none;
}

.mh-navigation > ul > li {
  float: left;
  margin: 0 $small-spacing;
}

.nav-button {
  margin-left: $small-spacing;
  margin-right: $small-spacing;
}
