// variables
$small-spacing: 5px;
$medium-spacing: 10px;
$large-spacing: 25px;
$fine-line: 1px;
$broad-line: 5px;
$fixed-header-height: 100px;

// fonts */
//@text-color: black;
//@font-size: 14px;
//@menu-button-font-size: 16px;
//@overview-button-font-size: 20px;
//@base-radius: 5px;
//@font-family: "Open Sans";
//@font-family: "Helvetica Neue; Helvetica; Arial;";
$font-family: 'Open Sans';
$serif-config: 'sans-serif';
