<div class="container-fluid">
  <div class="row">
    <div class="col-12">

      <div class="page-header mh-page-title" ng-bind="pageTitle" id="pageTitle"></div>

      Verantwortlich für die Inhalte dieser Seite ist gemäß §5 TMG bzw. §55 RStV, sofern nicht anders angegeben:

      <div style="margin:10px">
        <p class="centered">
          Michael Hülsen<br/> Höver Feld 9<br/> 40764 Langenfeld<br/>
        </p>
      </div>
      <div class="page-header mh-page-section">
        Haftungsausschluß
      </div>
      Das Angebot dieser Webseite enthält Links zu externen Webseiten Dritter, auf deren Inhalte ich keinen Einfluss habe. Deshalb kann ich für diese fremden Inhalte auch keine Gewähr übernehmen. Für die Inhalte der verlinkten Seiten ist stets der jeweilige
      Anbieter oder Betreiber der Seiten verantwortlich.

      <div class="page-header mh-page-section">
        Datenschutzerklärung
      </div>
      <div>
        <b>Twitter</b>
        <div>
          Inhalte dieser Webseite sind gegebenenfalls mit den "Tweet"-Schaltflächen zum Twitter-Dienst verknüpft. Dabei werden die Links als Tweet mittels des Twitter-Benutzernamen des "Klickenden" versendet. Es gelten somit auch die Datenschutzrichtlinien von
          Twitter
          <a href="https://twitter.com/privacy" target="newwindow">https://twitter.com/privacy</a>.
        </div>
      </div>
    </div>
  </div>
</div>