<mat-card class="mat-card my-main">

  <mat-card-title>Imprint</mat-card-title>
  <mat-card-content>
    Verantwortlich für die Inhalte dieser Seite ist gemäß §5 TMG bzw. §55 RStV, sofern nicht anders angegeben:

    <div style="margin:10px">
      <p class="centered">
        Michael Hülsen<br/> Höver Feld 9<br/> 40764 Langenfeld<br/>
      </p>
    </div>
    <div class="page-header mh-page-section">
      Haftungsausschluß
    </div>
    Das Angebot dieser Webseite enthält Links zu externen Webseiten Dritter, auf deren Inhalte ich keinen Einfluss habe. Deshalb kann ich für diese fremden Inhalte auch keine Gewähr übernehmen. Für die Inhalte der verlinkten Seiten ist stets der jeweilige
    Anbieter oder Betreiber der Seiten verantwortlich.
  </mat-card-content>
</mat-card>
<app-changelog></app-changelog>
