<mat-card class="my-main">

  <div class="page-header mh-page-section">
    Welcome to my website.
  </div>
  <br /> Good news, everyone! Version 2.0 is there.
  <br />
  <br /> Up to version 1.12, this app was a pure
  <a href="https://angularjs.org/">AngularJS</a> project.
  <br /> At the end of 2017, I planned to transform this piece into a pure
  <a href="https://angular.io">Angular</a> app following the official
  <a href="https://angular.io/guide/upgrade">upgrade guide</a>.
  <br />
  <br /> During the transformation I didn't have the time to go through it all the way.
  <br /> So I did a complete re-write in Angular 2.
  <br /> I am using Angular Material instead of Bootstrap now.

  <br />
  <br />There is more content and more functionality to come. <br /> And there needs to be some improvement on the bootstrap/style side.
  <br />
  <br> Have fun, <br/> &nbsp; &nbsp; &nbsp; Michael
</mat-card>
<app-changelog></app-changelog>