<mat-card class="my-main">

  <mat-card-title>
    Hello, World!
  </mat-card-title>
  <mat-card-content>
    <br /> This is just a simple website made from scratch using Angular.
    <br /> This page was recently updated to Angular 10.
    <br />
    <br /> Use the navigation to get to the PGP policy or the imprint.
    <br /> This page uses https by default and I am not bothering you with any
    cookies.
    <br />
    <br /> If you have any questions, need consulting in IT, or want to
    collaborate on some IT project, I am eager to listen. Drop me a line:
    <br /><pre>consulting (at) michael (minus) huelsen (dot) de</pre>
    <br> Have fun, <br/> &nbsp; &nbsp; &nbsp; Micha
  </mat-card-content>
</mat-card>
<!--<app-changelog></app-changelog>-->
