<a href="https://creativecommons.org">michael-huelsen.de</a> &copy; 2015-2025 by
<a href="https://creativecommons.org">Michael H&uuml;lsen</a> <br />is licensed
under
<a href="https://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY-NC-SA 4.0</a>
<div>
  <img
    src="https://mirrors.creativecommons.org/presskit/icons/cc.svg"
    style="max-width: 1em; max-height: 1em; margin-left: 0.2em; float: left"
  /><img
    src="https://mirrors.creativecommons.org/presskit/icons/by.svg"
    style="max-width: 1em; max-height: 1em; margin-left: 0.2em; float: left"
  /><img
    src="https://mirrors.creativecommons.org/presskit/icons/nc.svg"
    style="max-width: 1em; max-height: 1em; margin-left: 0.2em; float: left"
  /><img
    src="https://mirrors.creativecommons.org/presskit/icons/sa.svg"
    style="max-width: 1em; max-height: 1em; margin-left: 0.2em; float: left"
  />
</div>
