<div class="container-fluid">
  <div class="row">
    <div class="col-12">

      <div class="page-header mh-page-title">
        Something went wrong.
      </div>

      <div class="container">
        <h2>404</h2>
        <h2>This web site just fell apart.</h2> Congratulations, you reached the point of no return. <br /> <br /> If the navigation menu above is still working, they will get you out of here...
        <br /> <br /> You could also go back to the start
        <a href="/">michael-huelsen.de</a>
      </div>

    </div>
  </div>
</div>