<mat-card class="my-main">
  <mat-card-title>
    About me.
  </mat-card-title>
</mat-card>

<mat-card>
  <mat-card-title>
    Connect.
  </mat-card-title>
  <mat-card-content>
    <ul class="nobullets" style="line-height:25px; margin:10px">
      <li *ngFor="let l of connectLinkItems">
        <a class="nobullets dont-break-out" target="_blank" href="{{l.link}}" [innerHtml]="l.name"></a>
      </li>
    </ul>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-title>Visit.</mat-card-title>
  <mat-card-content>
    <ul class="nobullets dont-break-out" style="line-height:25px;margin:10px">
      <li *ngFor="let l of visitLinkItems">
        <a href="{{l.url}}" target="_blank" [innerHtml]="l.website"></a>
      </li>
    </ul>
  </mat-card-content>
</mat-card>